# R for travis: see documentation at https://docs.travis-ci.com/user/languages/r

sudo: true
language: R
r: 
- release
os: linux
-dist: trusty
addons:
  apt:
    packages:
      - python3
      - python3-pip

before_install
- pip3 install --user numpy scipy pandas
- if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then brew install llvm &&
    export PATH="/usr/local/opt/llvm/bin:$PATH" &&
    export LDFLAGS="-L/usr/local/opt/llvm/lib" &&
    export CFLAGS="-I/usr/local/opt/llvm/include"; fi

install:
- Rscript travis_script.r

script:
- travis_wait R CMD build .
- travis_wait R CMD check *tar.gz --no-manual

after_success:
  - Rscript -e 'devtools::install_github("r-lib/covr");library(covr);codecov()'
