# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.
#
# See https://github.com/r-lib/actions/tree/master/examples#readme for
# additional example workflows available for the R community.

name: netZooR

env:
    ACTIONS_ALLOW_UNSECURE_COMMANDS: 'true'
    GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}
    CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
        
on:
  push:
    branches: 
        - master
        - devel
  pull_request:
    branches: 
        - master
        - devel

jobs:
  build:
    runs-on: ${{ matrix.os }}
    timeout-minutes: 300
    strategy:
      matrix:
        os: [ubuntu-22.04]
        r-version: [4.4]

    steps:

      - uses: actions/checkout@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      - uses: r-lib/actions/setup-pandoc@v2.11.3

      - name: Set up R ${{ matrix.r-version }} 
        uses: r-lib/actions/setup-r@v2.11.3
        with:
          r-version: ${{ matrix.r-version }}

      - name: install dependencies
        uses: r-lib/actions/setup-r-dependencies@v2.11.3
        with:
          cache-version: 2
          extra-packages: |
             any::reticulate
             any::rcmdcheck
             any::covr
          needs: |
             website
             coverage

      - name: Install blas/lapack
        run: |
            La_library()
            extSoftVersion()["BLAS"]
        shell: Rscript {0}

      - if: matrix.os == 'ubuntu-latest'
        run: |
          sudo apt-get install python3-venv
          pip install --upgrade pip
          python3 -m venv env
          source env/bin/activate
          echo "VIRTUAL ENV:" $VIRTUAL_ENV

      - name: Install reticulate
        run: |
            library("reticulate")
            py_config()
            py_install("numpy")
            py_install("scipy")
            py_install("pandas")
            py_install("joblib")
        shell: Rscript {0}

      - name: Check
        uses: r-lib/actions/check-r-package@v2.11.3
        with:
            args: 'c("--no-manual", "--ignore-vignettes")'
            build_args: 'c("--no-build-vignettes")'
            error-on: '"error"'

      - name: Report coverage
        run: |
            covr::codecov()
        shell: Rscript {0}
